// COLORS

$black: #000000
$white: #ffffff

$light-brown: #d3ae83
$brown: #75532c
$dark-brown: #3a2206

$dark-red: #801b00
$red: #c72a00

$light-blue: #0189c9
$blue: #016c9d
$dark-blue: #014565

$transparent: transparent

$input: fade-out($white, 0.7)
$input-border: $transparent
$input-border-active: $dark-brown
$copy-color: $dark-brown
$navlink-def: $brown
$navlink-active: $dark-red
$background: $light-brown
$banner-background: $transparent
$link: $blue
$link-active: $light-blue
$link-visited: $dark-blue
$offset-link: $dark-brown
$offset-link-active: $dark-red
$headline: $offset-link
$headline-active: $offset-link-active
$image-border: fade-out($brown, 0.4)
$image-bg: fade-out($brown, 0.8)

// FONTS

$copy-font: 'Cardo', serif
$accent-font: 'Ruthie', cursive